$lbh-global-styles: true;
$lbh-asset-path: "~lbh-frontend/lbh/assets";
$govuk-page-width: 1100px;

@import "node_modules/lbh-frontend/lbh/all";

#__next {
  margin-top: 0;
}

.lbh-table-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  button {
    margin-bottom: 0.5rem;
  }
}

.lbh-divider {
  border: solid 1px #d8d8d8;
}

.repeaterGroup {
  padding: 25px;
  border: 1px solid lbh-colour("lbh-grey-3");
  background: lbh-colour("lbh-grey-4");
  position: relative;
  margin-top: 0.375rem;
  margin-bottom: 1rem;

  @include govuk-media-query($from: tablet) {
    padding: 35px;
  }
}

// dialog styles
:root {
  --reach-dialog: 1;
}
[data-reach-dialog-overlay] {
  background: hsla(0, 0%, 0%, 0.33);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}
[data-reach-dialog-content] {
  width: 50vw;
  margin: 10vh auto;
  background: white;
  padding: 2rem;
  outline: none;
}

.lbh-header {
  z-index: inherit;
}

.lbh-dialog {
  &__close {
    margin-top: 0;
  }
}

.govuk-table__row--clickable:hover {
  background: govuk-colour("light-grey");
  cursor: pointer;
}

.govuk-grid-row {
  button {
    margin-top: 0;
  }
}
